[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-rake"]
	path = vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/textile"]
	path = vim/bundle/textile
	url = https://github.com/timcharper/textile.vim.git
[submodule "vim/bundle/snippetsEmu"]
	path = vim/bundle/snippetsEmu
	url = https://github.com/vim-scripts/snippetsEmu.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/Gist.vim"]
	path = vim/bundle/Gist.vim
	url = https://github.com/vim-scripts/Gist.vim.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/vim-textobj-rubyblock"]
	path = vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/greplace.vim"]
	path = vim/bundle/greplace.vim
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "vim/bundle/file-line.vim"]
	path = vim/bundle/file-line.vim
	url = https://github.com/bogado/file-line.git
[submodule "vim/bundle/vim-pasta"]
	path = vim/bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/tslime.vim"]
	path = vim/bundle/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "vim/bundle/vim-turbux"]
	path = vim/bundle/vim-turbux
	url = https://github.com/jgdavey/vim-turbux.git
[submodule "vim/bundle/vim-ruby-complexity"]
	path = vim/bundle/vim-ruby-complexity
	url = git@github.com:joshuaclayton/vim-ruby-complexity.git
[submodule "vim/bundle/solarized.vim"]
	path = vim/bundle/solarized.vim
	url = https://github.com/altercation/vim-colors-solarized.git
